@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #CFD8DC;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #90A4AE;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


@layer components {
    .shadow-xl {
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
      }
      .table_component{
        @apply w-full text-sm text-left text-gray-500 dark:text-gray-400 shadow-xl
      }
}